src/WinTicket/PreventWebServices/risposta_get.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.4.795 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Out">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="RigaPercorsoVisita">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IdMostra" type="xs:positiveInteger" />
              <xs:element minOccurs="1" name="DataVisita" type="xs:date" />
              <xs:element minOccurs="1" name="OraVisita" type="xs:time" />
              <xs:element minOccurs="1" name="PaxVisita" type="xs:positiveInteger" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Denominazione" type="xs:string" use="required" />
      <xs:attribute name="NumeroPrenotazione" type="xs:string" use="required" />
      <xs:attribute name="PaxTotali" type="xs:positiveInteger" use="required" />
      <xs:attribute name="TipoGS" type="xs:string" use="required" />
	  <xs:attribute name="Scuola" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>