src/WinTicket/PreventWebServices/Web References/WebReferencePrevent/WSPrevent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bsoftsrl.it/" targetNamespace="http://bsoftsrl.it/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="book" type="tns:book" />
  <xs:element name="bookResponse" type="tns:bookResponse" />
  <xs:element name="calendar" type="tns:calendar" />
  <xs:element name="calendarResponse" type="tns:calendarResponse" />
  <xs:element name="delete" type="tns:delete" />
  <xs:element name="deleteResponse" type="tns:deleteResponse" />
  <xs:element name="version" type="tns:version" />
  <xs:element name="versionResponse" type="tns:versionResponse" />
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chiamante" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" type="xs:string" />
      <xs:element minOccurs="0" name="Password" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOperazione" type="xs:string" />
      <xs:element minOccurs="0" name="Parametri" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chiamante" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" type="xs:string" />
      <xs:element minOccurs="0" name="Password" type="xs:string" />
      <xs:element minOccurs="0" name="Parametri" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calendar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chiamante" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" type="xs:string" />
      <xs:element minOccurs="0" name="Password" type="xs:string" />
      <xs:element minOccurs="0" name="Parametri" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calendarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="version">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="versionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>